:root {
  --background: #f0e6cb;
  --descblock: #fcf9f1;
  --text: #0e0800;
  --header-footer: #bea36c;
  --link: #0a74ae;
  --header-link: #1f334b;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--link);
}

header {
  background-color: var(--header-footer);
  border-bottom: 1px solid;
  text-align: center;
  padding: 15px;
}

header h1 {
  margin: 0;
}

/* main gallery page */

.details {
  text-align: center;
  background-color: var(--descblock);
  border: 1px solid var(--text);
  width: 90%;
  margin: 20px auto;
  padding: 0 15px;
}

.all-images {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.all-images a {
  text-decoration: none;
}

.lone-img {
  margin: 20px;
}

.img-container {
  text-align: left;
  border: 1px solid var(--text);
  background-color: var(--descblock);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 20px auto;
}

.img-container a {
  text-decoration: underline;
}

.thumb-container img {
  display: block;
}

.description {
  padding: 0 15px;
  font-size: small;
  border: 0 0 0 1px solid var(--text);
  align-self: stretch;
}

.description p {
  margin: 10px 0;
}

.pagination {
  max-width: 500px;
  border: 1px solid var(--text);
  background-color: var(--descblock);
  margin: auto;
}

.pagination ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination ul li {
  margin: 0 10px;
}

footer {
  font-size: small;
  background-color: var(--header-footer);
  border-top: 1px solid var(--text);
  margin-top: 20px;
  padding: 10px;
}

/* individual image page */

.image-details {
  text-align: center;
  background-color: var(--descblock);
  border: 1px solid var(--text);
  width: 90%;
  margin: 20px auto;
  padding: 15px;
}

.image-details img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

/* small screens */

@media only screen and (max-width: 600px) {
  .img-container {
    flex-direction: column;
    width: 90%;
  }
  .thumb-container {
    align-self: stretch;
    border-bottom: 1px solid var(--text);
  }
  .thumb-container img {
    margin: auto;
  }
}
